<h1><%= @landmark.name %></h1>
  <form action="/landmarks/<%= @landmark.name %>" method="post">
  <input type="text" name="_method" value="patch" id="hidden"></input>

  <label>Name</label>
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>"></input>


<br><br>



<input type="submit" value="Save">
</form>
