<h1>Add a New Landmark:</h1>

<form action="/landmarks" method="post">
  <label>Landmark Name:</label>
    <input id="landmark_name"type="text" name="landmark[name]">
    <input id="landmark[year_completed]" type="text" name="landmark[year_completed]">
<br><br>
<label>Create a New Landmark</label>
<input id="new_landmark" type="text" name="landmark[name]"></input>
<input id="landmark_year_completed" type="integer" name="landmark_year_completed"></input>
<br><br>

  <% Landmark.all.each do |landmark| %>
    <input id="<%= landmark.name %>" type="text" name="landmark.name" value="<%= landmark %>"><%=landmark.name%></input>
  <% end %>
  <br><br>
    <input type="submit" value="Create New Landmark">
 </form>
