
 <form action="/figures/new" method="POST">
   Name of New Figure:
   <input id="figure_name" type="text" name="figure[title_ids]"> <!-- name="figure[title_ids]" name="figure[title_id]"name="figure[name]"-->

   <input type="submit" value="Create New Figure">
   <a href="/figures">cancel</a>
 </form>
