
 <form action="/figures/new" method="POST">
   Name of new figure:
   <input id="figure_name" type="text" name="figure_name"> <!--name="figure[name]"-->

   <input type="submit" value="Create New Figure">
   <a href="/figures">cancel</a>
 </form>
