<h2>Update Figure</h2>
<form action="/figures/<%= @figure.id %>" method="POST">
  Figure Name:
<input id="@figure.name" type="text" name="figure[name]" value="<%= @figure.name %>"><%= @figure.name %></input><!--id="figure_name"-->
</form>
